[submodule "AmalgamLoader"]
	path = AmalgamLoader
	url = https://github.com/coffeegrind123/AmalgamLoader.git
[submodule "tools/ProtectMyTooling"]
	path = tools/ProtectMyTooling
	url = https://github.com/mgeeky/ProtectMyTooling.git
